<div>
	<h3>Raw Template</h3>
	<ul>
		<li ng-repeat="m in messages">
			{{ m.from }} --> {{ m.to }} : {{ m.text }}
		</li>
	</ul>


	<h3>Use directives</h3>
	<div person></div>
	<ul>
		<li ng-repeat="m in messages" msg>
		</li>
	</ul>


	<h3>Use HTML</h3>
	<ul>
		<li ng-repeat="m in messages" detail>
		</li>
	</ul>


	<h3>Restrict to Element</h3>
	<ul>
		<li ng-repeat="m in messages">
			<msg-element></msg-element>
		</li>
	</ul>


	<h3>Scope Directive</h3>
	<ul>
		<li ng-repeat="m in messages">
			<msg-scope-element message="m"></msg-scope-element>
		</li>
	</ul>

	<h3>Directive with DOM</h3>
	<div>
		Date format: <input ng-model="format"> <br/>
		Current time is: <span current-time="format"></span>
  	</div>


  	<h3>Wrap Other Elements(transclude)</h3>
  	<div>
  		<my-dialog>Check out the contents, {{name}}!</my-dialog>
  	</div>
</div>